{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home | Weddit</title>
    <!-- For Ajax Search suggestion -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'red1/main.css' %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- For Ajax Search suggestion -->
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="{% static 'red1/preddit.js' %}"></script>
    
  <link href="{% static 'red1/feed.css' %}" rel="stylesheet">
  <link href="{% static 'red1/subweddit.css' %}" rel="stylesheet">
  <script src="{% static 'red1/jquery.bullseye-1.0-min.js' %}"></script>
  <script src="{% static 'red1/main.js' %}"></script>

  </head>
  <style type="text/css">
        @import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700|Sansita+One);
  
 :root {
    --primary-color: #302AE6;
    --secondary-color: #536390;
    --font-color: #424242;
    --bg-color: #fff;
    --heading-color: #292922;
}

[data-theme="dark"] {
    --primary-color: #9A97F3;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --heading-color: #818cab;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
  color: var(--secondary-color);
}

.container {
	background-color: var(--bg-color);
	color: var(--font-color);
	color: var(--secondary-color);
}

.head {
	background-color: var(--bg-color);
	color: var(--font-color);
	color: var(--secondary-color);
}

.panel {
	background-color: var(--bg-color);
	color: var(--font-color);
	color: var(--secondary-color);
}

/*slider switch css */
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  
  em {
    margin-left: 10px;
    font-size: 1rem;
  }
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
    </style>
  <body style="padding-top: 0">
  	<header class="head">
        <nav class="navbar navbar-default" role="navigation" style="">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Weddit</a>
          </div>
          <div class="collapse navbar-collapse" id="menu">
          	<ul class="nav navbar-nav">
          		<li><a href="{% url 'red1:user_list' %}">Feed</a></li>
                <li><a href="#">Subweddits</a></li>
                <!--li><a href="#">Inbox</a></li-->
            </ul>
            <ul class="nav navbar-nav navbar-right">
            	<form class="navbar-form navbar-left" role="search" action="/search/">
            		<div class="input-group" style="width:210px">
            			<input type="text" class="form-control" id="auto-search" name="q" placeholder="Search">
            			<span class="input-group-btn">
            				<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
            			</span>
            		</div>
            	</form>

            	<!--JQuery code for Ajax autocomplete search suggestion -->
                <script type="text/javascript">
                  $(function() {
                      $("#auto-search").autocomplete({
                          source: "/autocomplete/",
                          minLength: 2
                      });
                  });
                </script>
            <!-- End JQuery code for Ajax autocomplete search suggestion -->
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ request.user.username }}<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">My Profile</a></li>
                    <li><a href="#">Account Settings</a></li>
                    <li class="divider"></li>
                    <li><a href="{% url 'red1:logout' %}">Log out</a></li>
                  </ul>
                </li>
            </ul>
            <nav>
  <div class="theme-switch-wrapper">
       <label class="theme-switch" for="checkbox">
    <input type="checkbox" id="checkbox" />
    <div class="slider round"></div>
  </label>
    <em>Enable Dark Mode!</em>
  </div>
          </div>
        </div>
      </nav>
</header>
<main>
	<div class="container">
		<div class="row">
			<div class=" col-xs-3 col-md-3">
				<div class = "panel panel-info panel-user">
					<div class = "panel-heading">
						<h3 class = "panel-title">Subweddits</h3>
					</div>
					<div class = "panel-body">
						{% for weddit in subweddits %}
						<li><a href="{% url 'red1:w' slug=weddit.slug %}">{{ weddit.name }}</a></li>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-md-6">
				<div class="page-header">
					<button type="button" class="btn btn-primary pull-right btn-compose" title="Press Ctrl + P to compose">
						<span class="glyphicon glyphicon-share-alt"></span> Compose
					</button>
					<h1>Feed</h1>
				</div>
				<div class="panel panel-default panel-feed">
					<div class="panel-heading">
						<h3 class="panel-title">Latest posts</h3>
					</div>
					<div class="panel-body">
						<div class="compose">
							<h2>Compose a new post</h2>
							<form method="POST" id="post-form">
								{% csrf_token %}
								
								<div class="form-group col-4">
									{{ form.weddits|as_crispy_field }}
								</div>
								<div class="form-group col-4">
									{{ form.body|as_crispy_field }}
								</div>
								
								<button type="submit" class="btn btn-primary">
									<span class="glyphicon glyphicon-send"></span> Post
								</button>
								<button type="button" class="btn btn-default btn-cancel-compose">Cancel</button>
								<span class="help-block help-count pull-right">240 characters</span-->
							</form>
						</div>
						<div class="stream-update">
							<a href="#"><span class="new-posts"></span> New Posts</a>
						</div>
						<ul class="stream" id="my_posts">
							{% for post in posts %}
							<li feed-id="14877">
								<div class="feed-container">
									<a href="#"><img src="" class="user"></a>
									<div class="post">
										<h4 class="weddits"><a href="#">{% for weddits in post.weddits.all %}{{ weddits }}{% endfor %}</a></h4>
										<h3 class="author"><a href="#">{{ post.author }}</a> <small>{{ post.created_on | date:"Y-m-d" }}</small></h3>
										<p class="body1">{{post.body}}</p>
										<div class="interaction">
											<a href="#" style="text-decoration: none;" class="like">
												<span class="glyphicon glyphicon-arrow-up"></span>
												<span class="text">Upvote</span>
												(<span class="like-count">0</span>)
											</a>
											<a href="#" style="text-decoration: none;" class="comment">
												<span class="glyphicon glyphicon-comment"></span> Comment
												(<span class="comment-count">0</span>)
											</a>
											<a href="#" style="text-decoration: none;" class="bookmark">
												<span class="glyphicon glyphicon-bookmark"></span>
											</a>
										</div>
										<div class="comments">
											<form role="form" method="post" action="" onsubmit="return false">
												<input type='hidden'>
												<input type="hidden" name="feed" value="14877">
												<input type="text" class="form-control input-sm" placeholder="Write a comment..." name="post" maxlength="255">
											</form>
											<ol class="clearfix">
												
											</ol>
										</div>
									</div>
								</div>
							</li>
							{% endfor %}
						</ul>
						<div class="load">
							<img src="{% static 'img/loading.gif' %}" alt="My Image">
						</div>
						<form method="get" action="#" id="load_feed" autocomplete="off">
							<input type="hidden" name="feed_source" id="feed_source" value="all">
							<input type="hidden" name="from_feed" value="14874">
							<input type="hidden" name="page" value="1">
						</form>
					</div>
				</div>
			</div>
			<div class=" col-xs-3 col-md-3">
				<div class = "panel panel-danger panel-user">
					<div class = "panel-heading">
						<h3 class = "panel-title">User Activity</h3>
					</div>
					<div class = "panel-body">
						{% for user in users %}
						<li data-username="{{ user.username|escape }}">
							{{ user.username|escape }}: {{ user.status|default:'Offline' }}
						</li>
						{% endfor %}
						<br>
						<a role="button" class="btn btn-danger" href="{% url 'red1:logout' %}">Log out</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
<br>
<button onclick="topFunction()" id="myBtn" title="Go to top">Back to Top</button>
<script>
//Get the button
var mybutton = document.getElementById("myBtn");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
	$("#post-form").submit(function (e) {
        // preventing from page reload and default actions
        //e.preventDefault();
        // serialize the data for sending the form data.
        var serializedData = $(this).serialize();
        // make POST ajax call
        $.ajax({
            type: 'POST',
            url: "{% url 'red1:post' %}",
            data: serializedData,
            success: function (response) {
                // on successfull creating object
                // 1. clear the form.
                $("#post-form").trigger('reset');
                // 2. focus to nickname input 
                $("#id_body").focus();

                // display the newly friend to table.
                var instance = JSON.parse(response["instance"]);
                var fields = instance[0]["fields"];
                $("#my_posts").prepend(
                    `<li feed-id="14877">
								<div class="feed-container">
									<a href="#"><img src="" class="user"></a>
									<div class="post">
										<h4 class="weddits"><a href="#">{% for weddits in post.weddits.all %}${fields["weddits"]||""}{% endfor %}</a></h4>
										<h3 class="author"><a href="#">${fields["author"]||""}</a> <small>${fields["created_on"]||""}</small></h3>
										<p class="body1">${fields["body"]||""}</p>
										<div class="interaction">
											<a href="#" style="text-decoration: none;" class="like">
												<span class="glyphicon glyphicon-arrow-up"></span>
												<span class="text">Upvote</span>
												(<span class="like-count">0</span>)
											</a>
											<a href="#" style="text-decoration: none;" class="comment">
												<span class="glyphicon glyphicon-comment"></span> Comment
												(<span class="comment-count">0</span>)
											</a>
											<a href="#" style="text-decoration: none;" class="bookmark">
												<span class="glyphicon glyphicon-bookmark"></span>
											</a>
										</div>
										<div class="comments">
											<form role="form" method="post" action="" onsubmit="return false">
												<input type='hidden'>
												<input type="hidden" name="feed" value="14877">
												<input type="text" class="form-control input-sm" placeholder="Write a comment..." name="post" maxlength="255">
											</form>
											<ol class="clearfix">
												
											</ol>
										</div>
									</div>
								</div>
							</li>`
                )
            },
            error: function (response) {
                // alert the error if any error occured
                //alert(response["responseJSON"]["error"]);
                console.log(response["responseJSON"]["error"]);
            }
        })
    })
</script>
<script>

	var socket = new WebSocket('ws://' + window.location.host + '/users/');

    socket.onopen = function open() {
      console.log('WebSockets connection created.');
    };

    socket.onmessage = function message(event) {
      var data = JSON.parse(event.data);
      // NOTE: We escape JavaScript to prevent XSS attacks.
      var username = encodeURI(data['username']);
      var user = $('li').filter(function () {
        return $(this).data('username') == username;
      });

      if (data['is_logged_in']) {
        user.html(username + ': Online');
      }
      else {
        user.html(username + ': Offline');
      }
    };

    if (socket.readyState == WebSocket.OPEN) {
      socket.onopen();
    }
</script>
<script type="text/javascript">
	const toggleSwitch = document.querySelector('.theme-switch input[type="checkbox"]');
	const currentTheme = localStorage.getItem('theme');

	if (currentTheme) {
		document.documentElement.setAttribute('data-theme', currentTheme);

	if (currentTheme === 'dark') {
		toggleSwitch.checked = true;
	}
}

function switchTheme(e) {
	if (e.target.checked) {
		document.documentElement.setAttribute('data-theme', 'dark');
		localStorage.setItem('theme', 'dark');
	}
    else {
    	document.documentElement.setAttribute('data-theme', 'light');
    	localStorage.setItem('theme', 'light');
    }    
}

toggleSwitch.addEventListener('change', switchTheme, false);
</script>
<script src="{% static 'red1/notification.js' %}"></script>
<script src="{% static 'red1/check_messages.js' %}"></script>
</body>
</html>
